body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    font-weight:500;
    margin: 0;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.container{
  background-color:rgb(226, 199, 224);
  border: 1px solid rgb(226, 199, 224);
  border-radius: 10px;
  height: 230px;
  width: 300px;
}

.container p{
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}